#poDetailsPane {
    /* background: red !important; */
    outline: 1px solid purple !important;
}

#internalNotes {
    /* background: red; */
}


div[aria-describedby=poItemDialog] {
    outline: 4px solid pink !important;
}

#ext-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba( 0,0,0,0.5);
    z-index: 111111111;
}
#ext-modal__inner {
    height: 300px;
    width: 800px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.ext-notice {
    width: 200px;
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
    color: #e44;
}
