#poDetailsPane {
}

#internalNotes {
}


div[aria-describedby=poItemDialog] {
    outline: 4px solid pink !important;
}

#ext-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba( 0,0,0,0.5);
    z-index: 111111111;
}
#ext-modal__inner {
    height: 400px;
    width: 800px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}
#ext-modal__inner select,
#ext-modal__inner input[type="text"] {
    width: 100%;
    max-width: 100%;
}


.ext-notice {
    width: 200px;
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
    color: #e44;
}

.ext-title {
    padding: 10px 5px;
    background: #ccc;
}

/* Flexbox styles for Listings */
.ext-flex {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.ext-flex-item--full {
    flex: 1 1 100%;
    padding: 3px;
    box-sizing: border-box;
}
.ext-flex-item {
    flex: 0 0 100px;
    padding: 3px 10px;
    box-sizing: border-box;
    text-align: center;
}

.masterItem {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.listingSku {
    background: #fefefe;
}
.listingSku:nth-child( odd ){
    background: #efefef;
}

.master-sku-container {
    height: 280px;
    overflow: auto;
}
.ext-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.ext-btn {
    flex: 0 1 auto;
    border-radius: 2px;
    display: inline-block;
    padding: 10px 20px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    color: white !important;
    outline: 0;
    background: #4CAF50;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
